@import "tailwindcss";

body {
  background-color: #1a1a1a;
  color: #ffffff;
}

:root {
  --accent-color: #4f46e5;
}

.accent-olive {
  --accent-color: #4b5e40;
}

.accent-indigo {
  --accent-color: #4f46e5;
}

.accent-reddish {
  --accent-color: #dc2626;
}

.accent {
  color: var(--accent-color);
}

.bg-accent {
  background-color: var(--accent-color);
}